{% extends 'base.html.twig' %}

{% block title %}Bonjour !{% endblock %}


{% block body %}

<div class="example-wrapper">
{% if app.user %}
    <h1>Bonjour, {{ app.user.firstname }}</h1>
    <p>Comment allez-vous aujourd'hui ?<p>
{% else %}
    <h1>Bienvenue Monsieur, </h1>
    <p>Connectez-vous afin d'effectuer vos premiers Quiz !<p>
{% endif %}
</div>

{% endblock %}
