{% extends 'base.html.twig' %}

{% block title %}Bonjour !{% endblock %}


{% block body %}



<body id="body-pd">
		

		<main class="mt-4">
			<!--Container Main start-->
			<div class="height-100">
				<div class="mx-4 my-4">
					
					<div class="bg w-100 p-5 text-white ">
			    <div class="example-wrapper">
                    {% if app.user %}
                            <h1>Bonjour, {{ app.user.firstname }}</h1>
                            <p>Comment allez-vous aujourd'hui ?<p>
                    {% else %}
                            <h1>Bienvenue Monsieur, </h1>
                            <p>Connectez-vous afin d'effectuer vos premiers Quiz !<p>
                    {% endif %}
                </div>
                    
                    
						<div class=" info">
							<div class="mx-5">
								<h3>14</h3>
								<p>Thèmes</p>
							</div>
							<div class="mx-5">
								<h3>23</h3>
								<p>Exercices</p>
							</div>
							<div class="mx-5">
								<h3>465</h3>
								<p>Questions</p>
							</div>
						</div>
						<div>

						</div>
					</div>
				</div>
				
				<div class="mx-4 selector">
					<nav class="navbar navbar-expand-lg navbar-white ">		
						  <div class="collapse navbar-collapse afficher " id="navbarNav">
							<ul class="navbar-nav ">
								<div class="svg-wrapper ">
									<svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape" height="40" width="150" />
									  <div id="text">
										<a href="{{ path('app_main_quiz') }}"><span class="spot"></span>Ajout d'un quizz</a>
									  </div>
									</svg>
								  </div>
								  <div class="svg-wrapper2 ">
									<svg height="40" width="250" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape2" height="40" width="250" />
									  <div id="text">
										<a href="theme.html"><span class="spot"></span>Afficher tous les thèmes</a>
									  </div>
									</svg>
								  </div>
								  <div class="svg-wrapper2">
									<svg height="40" width="250" xmlns="http://www.w3.org/2000/svg">
									  <rect id="shape2" height="40" width="250" />
									  <div id="text">
										<a href="exercise.html"><span class="spot"></span>Afficher tous les Exercices</a>
									  </div>
									</svg>
								  </div>	  
							<li class="nav-item dropdown navbar-nav navbardrop">								
								<select class="navbardrop  btn nav-link" id='navbarDropdown'>
									<option value='1' class='volunteer'>Difficulté</option>
									<li><hr  href="#" class="dropdown-divider"></li>
									<option value='2' class='volunteer1'>Débutant</option>
									<li><hr class="dropdown-divider"></li>
									<option value='3' class='volunteer2'>Intermédiaire</option>
									<li><hr class="dropdown-divider"></li>
									<option value='4' class='volunteer3'>Expert</option>
								</select>
								
							  </li>
							</ul>	
							
						  </div>
					</nav>
				</div> 
				
				</div>
			</div>
		</main>
	</body>

{% endblock %}
