{% extends 'base.html.twig' %}

{% block title %}Modifier Exercice{% endblock %}

{% block body %}
        <div class="pb-5">
			<div class="mx-4 my-4">

				<div class="bg w-100 p-5 text-white ">
					<div class="">
						  <h1 class="text-white">MODIFIER EXERCICE</h1>
					</div>
                
				<div class="info">
                    <div class="mx-5">
                        <h3 class="text-white">14</h3>
                        <p>Thèmes</p>
                    </div>
                    <div class="mx-5">
                        <h3 class="text-white">23</h3>
                        <p>Exercices</p>
                    </div>
                    <div class="mx-5">
                        <h3 class="text-white">465</h3>
                        <p>Questions</p>
                    </div>
                </div>
				</div>
			</div>
<div class="mx-5 adminselector p-2 my-5">
   
    {{ include('exercise/_form.html.twig', {'button_label': 'Modifier l\'exercice'}) }}

    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la liste d'exercice</a>
    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la création de quiz</a>

    {{ include('exercise/_delete_form.html.twig') }}
</div>
{% endblock %}
