{% extends 'base.html.twig' %}

{% block title %}Nouvelle difficulté{% endblock %}

{% block body %}
    <h1>Créer une nouvelle difficulté</h1>

    {{ include('difficulty/_form.html.twig') }}

    <a href="{{ path('app_difficulty_index') }}" class="btn btn-primary">Retour à la liste de difficulté</a>
    <a href="{{ path('app_exercise_index') }}" class="btn btn-primary">Retour à la création de quiz</a>
{% endblock %}
